.place__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 984px) {
    .place__title {
        max-width: 100%;
        font-size: 42px;
        line-height: 46px;

    }
}

@media screen and (max-width: 856px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        padding-right: 10px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 550px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
        padding: 0;
    }
}