.footer__items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .footer__items {
        flex-direction: column;
        margin-bottom: 16px;
    }
}