.intro {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 296px);
}

@media screen and (max-width: 1140px) {
    .intro {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 984px) {
    .intro {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 330px) {
    .intro {
        max-width: calc(100% - 32px);
    }
}