.footer {
    max-width: calc(100% - 96px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 24px;
}

@media screen and (max-width: 777px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 550px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 380px) {
    .footer {
        max-width: calc(100% - 32px);
    }
}